.movieRow {
  margin-bottom: 30px;

  * {
    user-select: none;
  }
}
.movieRow:hover .icon-left,
.movieRow:hover .icon-right {
  opacity: 1;
}

h2 {
  margin: 0 0 0 30px;

  &::first-letter {
    text-decoration: underline var(--red);
    font-size: 1.6rem;
  }

  @media (max-width: 760px) {
    & {
      font-size: 1.4rem;
    }
    &::first-letter {
      font-size: 1.5rem;
    }
  }
}

.listarea {
  overflow-x: hidden;
  padding-left: 30px;

  .list {
    transition: all ease 0.5s;

    .item {
      display: inline-block;
      width: 150px;
      cursor: pointer;

      img {
        width: 100%;
        transform: scale(0.9);
        transition: all ease 0.2s;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.705);

        &:hover {
          transform: scale(1);
          opacity: 0.7;
          padding: 0.3rem;
          border: 2px solid var(--red);
        }
      }
    }
  }
}

.icon-left,
.icon-right {
  position: absolute;
  width: 40px;
  height: 225px;

  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 99;
  overflow: hidden;
  cursor: pointer;
  transition: all ease 0.5s;

  @media (max-width: 760px) {
    &,
    & {
      opacity: 1;
    }
  }
}
.icon-left {
  left: 0;
}
.icon-right {
  right: 0;
}
