@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --red: rgb(238, 62, 62);
    --green: #46d369;
}

::selection {
    background-color: var(--red);
}

body {
    background-color: #111;
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;

    // scrollbar
    &::-webkit-scrollbar {
        width: 0.8rem;
    }
    &::-webkit-scrollbar-track {
        background: rgb(31, 31, 31);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--red);
        border-radius: 1.2rem;
        border: 3px solid rgb(31, 31, 31);
    }
}

footer {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    font-size: 0.8rem;

    @media (min-width: 768px) {
        & {
            flex-direction: row;
            justify-content: space-around;
            gap: 1rem;

            font-size: 1rem;
        }
    }
}

.loading {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    z-index: 99;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }
}

a {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;

    &:hover {
        color: var(--red);
    }
    &:visited {
        color: rgb(192, 51, 51);
    }
}

@media (min-width: 768px) {
    .separator {
        color: #a8a8b3;

        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            flex: 1;
            height: 1rem;
            width: 4px;
            background: var(--red);
        }
        &::before,
        &::after {
            margin: 0 10px;
        }
    }
}
